{{ define "main" }}
<section class="blog-list-section">
    <div class="container">
        <h1 class="section-title">Blog / Commit Log</h1>
        <div class="commit-log">
            {{ range .Pages }}
            <div class="commit-item">
                <div class="commit-icon">
                    <svg viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M10.5 7.75a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm1.43.75a4.002 4.002 0 01-7.86 0H.75a.75.75 0 110-1.5h3.32a4.001 4.001 0 017.86 0h3.32a.75.75 0 110 1.5h-3.32z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                <div class="commit-content">
                    <div class="commit-header">
                        <a href="{{ .Permalink }}" class="commit-title">{{ .Title }}</a>
                        <span class="commit-hash">commit {{ substr .File.UniqueID 0 8 }}</span>
                    </div>
                    <div class="commit-meta">
                        <span class="commit-author"></span> committed on <time>{{ .Date.Format "Jan 2, 2006" }}</time>
                    </div>
                    <p class="commit-desc">{{ .Description | default .Summary }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}